<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>One Piece Gallery</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <p id="intro">Here are some beautiful One Piece pictures</p>
        <div id="quote" class="center container"> 
            <img id="zoro" src="static/zoro.jpg"> 
            <div id="zoro-quote">"If you do anything that would cause me to abandon my ambitions... You will end your own life on my sword!" - Roronoa Zoro.</div>
        </div>
        <div class="row">
            <div class="item">
                <img id = "1" src="/static/1.jpg" alt="One piece" class="responsive" alt="One Piece">
            </div>
            <div class="item">
                <img src="static/2.jpg" alt="One piece" class="responsive" alt="One Piece">
            </div>
            <div class="item">
                <img src="static/3.jpg" alt="One piece" class="responsive" alt="One Piece">
            </div>
        </div>
        <div class="row">
            <div class="item">
                <img src="static/4.jpg" alt="One piece" class="responsive" alt="One Piece">
            </div>
            <div class="item">
                <img src="static/5.jpg" alt="One piece" class="responsive" alt="One Piece">
            </div>
            <div class="item">
                <img src="static/6.jpg" alt="One piece" class="responsive" alt="One Piece">
            </div>
        </div>
        <div class="row">
            <div class="item">
                <img src="static/7.jpg" alt="One piece" class="responsive" alt="One Piece">
            </div>
            <div class="item">
                <img src="static/8.jpg" alt="One piece" class="responsive" alt="One Piece">
            </div>
        </div>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
    </body>
    <script>
        var modal = document.getElementById("myModal");
        var all_img = document.getElementsByClassName("responsive");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        for (var i = 0; i < all_img.length; i++) {
            var img = document.getElementsByClassName("responsive")[i];
            img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }
        }
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
            modal.style.display = "none";
        }
        modal.addEventListener('click',function(){
            this.style.display="none";
        }) 
    </script>
</html>